// variables
@bg-color: #333;
@bg-color-focus: darken(@bg-color, 20%);
@text-color: #fff;
@font-size: 1em;
@font-family: helvetica, sans-serif;
@icon-font-family: arial, sans-serif;

// Generic mixins

.transition(@transition) {
    -webkit-transition:     @transition;
    -moz-transition:        @transition;
    -ms-transition:         @transition;
    -o-transition:          @transition;
    transition:             @transition;
}

.transform(@string){
    -webkit-transform:      @string;
    -moz-transform:         @string;
    -ms-transform:          @string;
    -o-transform:           @string;
    transform:              @string;
}

.backface-visibility(@visibility: hidden) {
    backface-visibility:            @visibility;
    -webkit-backface-visibility:    @visibility;
}

.transform-origin(@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
    transform-origin:         @x @y;
}

.animation(@animation) {
    -webkit-animation:      @animation;
    -moz-animation:         @animation;
    -ms-animation:          @animation;
    animation:              @animation;
}

.button-style() {
    .transition(all 0.2s ease);
    border-radius: 3px;
    overflow: hidden;
    color: @text-color;
    display: inline-block;
    padding: @font-size/1.5 @font-size*2;
    position: relative;
    font-family: @font-family;
    font-size: @font-size;
    line-height: @font-size;
    cursor: pointer;
    text-decoration: none;
    background-color: @bg-color;
    color: @text-color;
    border: 0;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
        background-color: @bg-color-focus;
    }
}

.button-icon() {
    &:before,
    &:after {
        .backface-visibility();
        .transition(all 0.4s ease);
        position: absolute;
        right: @font-size*0.75;
        display: inline-block;
        font-family: @icon-font-family;
        color: @bg-color;
    }

    &:before {
        right: auto;
        left: @font-size*0.75;
    }

    &:hover,
    &:focus {
        &:before,
        &:after {
            color: @text-color;
        }
    }
}

// animations

@-webkit-keyframes blink {
    1%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

@keyframes blink {
    0%, 50% { opacity: 0; }
    51%, 100% { opacity: 1; }
}

@-webkit-keyframes rotate {
    1% { .transform(rotateZ(0deg)) }
    100% { .transform(rotateZ(360deg)) }
}

@keyframes rotate {
    1% { .transform(rotateZ(0deg)) }
    100% { .transform(rotateZ(360deg)) }
}


// Button specific mixins
.button-prev() {
    .button-icon();

    &:before {
        content: "\2190";
        .transform(translateX(0.2em));
    }

    &:hover,
    &:focus {
        &:before {
            .transform(translateX(0em));
        }
    }
}

.button-next() {
    .button-icon();

    &:after {
        content: "\2192";
        .transform(translateX(-0.2em));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(translateX(0em));
        }
    }
}

.button-download() {
    .button-icon();

    &:after {
        content: "\2192";
        font-size: 85%;
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotate(90deg));
            border-right: 1px solid #fff;
        }
    }
}

.button-reply() {
    .button-icon();

    &:after {
        content: "\21B5";
        .transform(rotate(-90deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotate(0deg));
        }
    }
}

.button-external() {
    .button-icon();

    &:after {
        content: "\2192";
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotate(-45deg));
        }
    }
}

.button-submit() {
    .button-icon();

    &:after {
        content: "\00BB";
        .transform(translateX(-0.2em) scale(1.4));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(translateX(0em) scale(1.4));
        }
    }
}

.button-code() {
    .button-icon();

    &:before {
        left: auto;
        right: @font-size;
        .transform(scaleX(0.75));
        content: "\003E";
    }

    &:after {
        right: @font-size/2;
        .transition(none);
        content: "\005F";
        .animation(blink 1s infinite normal linear);
    }
}

.button-tick() {
    .button-icon();

    &:after {
        content: "\2713";
        .transform(rotatey(90deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotatey(0deg));
        }
    }
}

.button-cross() {
    .button-icon();

    &:after {
        content: "\2717";
        .transform(rotatey(90deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotatey(0deg));
        }
    }
}

.button-close() {
    .button-icon();

    &:after {
        content: "x";
        .transform(rotatex(90deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotatex(0deg));
        }
    }
}

.button-email() {
    .button-icon();

    &:after {
        content: "\0040";
        .transform(rotatez(90deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotatez(0deg));
        }
    }
}

.button-comment() {
    .button-icon();

    &:after {
        content: "\2026";
        .transform(translateX(@font-size*2));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(translateX(0));
        }
    }
}

.button-quote() {
    .button-icon();

    &:before {
        left: @font-size;
        content: "\201C";
        .transform(translateX(-@font-size*2));
    }

    &:after {
        right: @font-size;
        content: "\201D";
        .transform(translateX(@font-size*2));
    }

    &:hover,
    &:focus {
        &:before {
            .transform(translateX(0));
        }

        &:after {
            .transform(translateX(0));
        }
    }
}

.button-question() {
    .button-icon();

    &:after {
        content: "\003F";
        .transform(rotateZ(360deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotateZ(0deg));
        }
    }
}

.button-star-empty() {
    .button-icon();

    &:after {
        content: "\2606";
        font-size: 80%;
        .transform(rotateZ(45deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotateZ(0));
        }
    }
}

.button-star() {
    .button-icon();

    &:after {
        content: "\2605";
        font-size: 80%;
        .transform(rotateZ(45deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotateZ(0));
        }
    }
}

.button-search() {
    .button-icon();

    &:after {
        content: "\26B2";
        right: @font-size/2;
        font-size: 130%;
        .transform(rotateZ(-90deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotateZ(-45deg));
        }
    }
}

.button-loading() {
    .button-icon();

    &:after {
        content: "\2312";
        font-size: 80%;
        .animation(rotate 0.5s infinite normal linear);
    }
}

.button-loading-arrow() {
    .button-icon();

    &:after {
        content: "\21BB";
        .transform-origin(50%, 52%);
        .animation(rotate 0.5s infinite normal linear);
    }
}

// Output css

a,
button {
    &:hover {
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
        outline: 1px solid @bg-color;
    }

    &.btn {
        .button-style();
    }

    &.btn + .btn {
      margin-bottom: @font-size*0.31;
    }

    &.btn-block {
        width: 100%;
        display: block;
        text-align: center;
    }

    &.btn-active {
        &:before,
        &:after {
            color: @text-color !important;
            .transform(none) !important;
        }
    }

    &.btn-prev {
        .button-prev();
    }

    &.btn-next {
        .button-next();
    }

    &.btn-reply {
        .button-reply();
    }

    &.btn-download {
        .button-download();
    }

    &.btn-external {
        .button-external();
    }

    &.btn-submit {
        .button-submit();
    }

    &.btn-code {
        .button-code();
    }

    &.btn-tick {
        .button-tick();
    }

    &.btn-cross {
        .button-cross();
    }

    &.btn-close {
        .button-close();
    }

    &.btn-email {
        .button-email();
    }

    &.btn-comment {
        .button-comment();
    }

    &.btn-quote {
        .button-quote();
    }

    &.btn-question {
        .button-question();
    }

    &.btn-star-empty {
        .button-star-empty();
    }

    &.btn-star {
        .button-star();
    }

    &.btn-search {
        .button-search();
    }

    &.btn-loading {
        .button-loading();
    }

    &.btn-loading-arrow {
        .button-loading-arrow();
    }
}
