@-webkit-keyframes blink {
  1%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50% {
    opacity: 0;
  }
  51%,
  100% {
    opacity: 1;
  }
}
a:hover,
button:hover {
  text-decoration: underline;
}
a:focus,
button:focus {
  text-decoration: underline;
  outline: 1px solid #333333;
}
a.btn,
button.btn {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  padding: 0.6em;
  position: relative;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
  border: 0;
}
a.btn:hover,
button.btn:hover,
a.btn:focus,
button.btn:focus {
  outline: none;
  text-decoration: none;
  background-color: #000000;
}
a.btn-block,
button.btn-block {
  width: 100%;
  display: block;
  text-align: center;
}
a.btn-download,
button.btn-download {
  padding: 0.6em 2em;
}
a.btn-download:before,
button.btn-download:before,
a.btn-download:after,
button.btn-download:after {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  right: 0.6em;
  top: 0.6em;
  display: inline-block;
  font-size: 1em;
  color: #333333;
}
a.btn-download:before,
button.btn-download:before {
  right: 1em;
}
a.btn-download:hover:before,
button.btn-download:hover:before,
a.btn-download:focus:before,
button.btn-download:focus:before,
a.btn-download:hover:after,
button.btn-download:hover:after,
a.btn-download:focus:after,
button.btn-download:focus:after {
  color: #ffffff;
}
a.btn-download:after,
button.btn-download:after {
  content: "\2192";
}
a.btn-download:hover:after,
button.btn-download:hover:after,
a.btn-download:focus:after,
button.btn-download:focus:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border-right: 1px solid #fff;
}
a.btn-external,
button.btn-external {
  padding: 0.6em 2em;
}
a.btn-external:before,
button.btn-external:before,
a.btn-external:after,
button.btn-external:after {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  right: 0.6em;
  top: 0.6em;
  display: inline-block;
  font-size: 1em;
  color: #333333;
}
a.btn-external:before,
button.btn-external:before {
  right: 1em;
}
a.btn-external:hover:before,
button.btn-external:hover:before,
a.btn-external:focus:before,
button.btn-external:focus:before,
a.btn-external:hover:after,
button.btn-external:hover:after,
a.btn-external:focus:after,
button.btn-external:focus:after {
  color: #ffffff;
}
a.btn-external:after,
button.btn-external:after {
  content: "\2192";
}
a.btn-external:hover:after,
button.btn-external:hover:after,
a.btn-external:focus:after,
button.btn-external:focus:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
a.btn-submit,
button.btn-submit {
  padding: 0.6em 2em;
}
a.btn-submit:before,
button.btn-submit:before,
a.btn-submit:after,
button.btn-submit:after {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  right: 0.6em;
  top: 0.6em;
  display: inline-block;
  font-size: 1em;
  color: #333333;
}
a.btn-submit:before,
button.btn-submit:before {
  right: 1em;
}
a.btn-submit:hover:before,
button.btn-submit:hover:before,
a.btn-submit:focus:before,
button.btn-submit:focus:before,
a.btn-submit:hover:after,
button.btn-submit:hover:after,
a.btn-submit:focus:after,
button.btn-submit:focus:after {
  color: #ffffff;
}
a.btn-submit:after,
button.btn-submit:after {
  content: "\00BB";
  -webkit-transform: translateX(-0.2em) translateY(-0.1em) scale(1.4);
  -moz-transform: translateX(-0.2em) translateY(-0.1em) scale(1.4);
  -ms-transform: translateX(-0.2em) translateY(-0.1em) scale(1.4);
  -o-transform: translateX(-0.2em) translateY(-0.1em) scale(1.4);
  transform: translateX(-0.2em) translateY(-0.1em) scale(1.4);
}
a.btn-submit:hover:after,
button.btn-submit:hover:after,
a.btn-submit:focus:after,
button.btn-submit:focus:after {
  -webkit-transform: translateX(0em) translateY(-0.1em) scale(1.4);
  -moz-transform: translateX(0em) translateY(-0.1em) scale(1.4);
  -ms-transform: translateX(0em) translateY(-0.1em) scale(1.4);
  -o-transform: translateX(0em) translateY(-0.1em) scale(1.4);
  transform: translateX(0em) translateY(-0.1em) scale(1.4);
}
a.btn-code,
button.btn-code {
  padding: 0.6em 2em;
}
a.btn-code:before,
button.btn-code:before,
a.btn-code:after,
button.btn-code:after {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  right: 0.6em;
  top: 0.6em;
  display: inline-block;
  font-size: 1em;
  color: #333333;
}
a.btn-code:before,
button.btn-code:before {
  right: 1em;
}
a.btn-code:hover:before,
button.btn-code:hover:before,
a.btn-code:focus:before,
button.btn-code:focus:before,
a.btn-code:hover:after,
button.btn-code:hover:after,
a.btn-code:focus:after,
button.btn-code:focus:after {
  color: #ffffff;
}
a.btn-code:before,
button.btn-code:before {
  content: "\003E";
}
a.btn-code:after,
button.btn-code:after {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  content: "\005F";
}
a.btn-code:hover:after,
button.btn-code:hover:after,
a.btn-code:focus:after,
button.btn-code:focus:after {
  -webkit-animation: blink 1s infinite normal linear;
  -moz-animation: blink 1s infinite normal linear;
  -ms-animation: blink 1s infinite normal linear;
  animation: blink 1s infinite normal linear;
}
